<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>
<div class="container">
  <h2 class="title custom">Survey Member</h2>
  <div class="mb25 mb50-sm"></div>

  <form>
    <div class="form-group">
      <label>Nama Lengkap</label>
      <input type="text" class="form-control form-control-lg" aria-describedby="emailHelp"
             placeholder="Masukan Nama Lengkap">
    </div>
    <div class="form-group">
      <label>Umur</label>
      <input type="text" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Masukan Umur">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Masukan Email">
    </div>

    <h3 class="title custom">Isian Survey</h3>
    <div class="mb25 mb50-sm"></div>
    <div class="form-group">
      <label>1. Bagaimana Pemahanan Saudara tentang kemudahan prosedur pelayanan di unit ini.</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survey1" id="inlineRadio1" value="Tidak Mudah">
        <label class="form-check-label" for="inlineRadio1">Tidak Mudah</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survey1" id="inlineRadio2" value="kurang Mudah">
        <label class="form-check-label" for="inlineRadio2">Kurang Mudah</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survey1" id="inlineRadio1" value="Mudah">
        <label class="form-check-label" for="inlineRadio1">Mudah</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survey1" id="inlineRadio2" value="Sangat Mudah">
        <label class="form-check-label" for="inlineRadio2">Sangat Mudah</label>
      </div>
      <br>
      <label>2. Bagaimana pendapat Saudara tentang kesesuaian persyaratan pelayanan dengan jenis pelayanannya.</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survei2" value="Tidak Sesuai">
        <label class="form-check-label" for="inlineRadio1">Tidak Sesuai</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survei2" value="Kurang Sesuai">
        <label class="form-check-label" for="inlineRadio2">Kurang Sesuai</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survei2" value="Sesuai">
        <label class="form-check-label" for="inlineRadio1">Sesuai</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input radio-left" type="radio" name="survei2" value="Sangat Sesuai">
        <label class="form-check-label" for="inlineRadio2">Sangat Sesuai</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>
