<app-navbar></app-navbar>

<div class="mb60 mb50-sm"></div>

<div class="container">
  <h2 class="title custom">Artikel Hari Ini</h2>
  <div class="mb25 mb50-sm"></div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets/images/Arya_Damar_1.jpg" alt="" style="width: 100%; height: 300px;">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Arya Damar President Director PT Aplikanusa Lintasarta
          </h2>
          <p class="card-text text-justify">To meet the need of good, fast and accurate
            health coverage and insurance service, in September 2015,
            PT Aplikanusa Lintasarta established a new business unit in e-health
            branded as “Owlexa Healthcare”. With 27 years of experience as a technology
            company that has served more than 2,000 corporations, Lintasarta is confident
            that it could deliver the best service to all stakeholders in health insurance industry.</p>
          <p class="card-text text-justify">
            Owlexa Healthcare provides unlimited service as a third party administrator
            such as giving service to the administration process of corporate claim or
            insurance starting from membership & policy administration, eligible members,
            case monitoring, discharging through the process of payment to the medical cost claim.
            Supported by a reliable system and technology as well as human resources, Owlexa is convinced
            that it can provide an optimum, efficient, fast and the best health administration service.
          </p>
          <a href="/owlexa/artikel-detail" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Irmansyah</a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets/images/Gbr1.jpg" alt="" style="width: 100%; height: 300px;">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Penyakit Paru Obstruktif Kronis</h2>
          <p class="card-text text-justify">
            Penyakit paru obstruktif kronis atau sering disingkat PPOK adalah istilah
            yang digunakan untuk sejumlah penyakit yang menyerang paru-paru untuk jangka panjang.
            Penyakit ini menghalangi aliran udara dari dalam paru-paru sehingga pengidap akan mengalami
            kesulitan dalam bernapas.</p>
          <p class="card-text text-justify">PPOK umumnya merupakan kombinasi dari dua penyakit pernapasan, yaitu bronkitis kronis dan emfisema.
            Bronkitis adalah infeksi pada saluran udara menuju paru-paru yang menyebabkan pembengkakan dinding
            bronkus dan produksi cairan di saluran udara berlebihan. Sedangkan emfisema adalah kondisi rusaknya
            kantung-kantung udara pada paru-paru yang terjadi secara bertahap. Kantung udara tersebut akan menggelembung dan mengempis seiring kita menarik dan menghembuskan napas. Kelenturan kantung udara akan menurun jika seseorang mengidap emfisema, akibatnya jumlah udara yang masuk akan menurun.</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Irmansyah</a>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets/images/Gbr1.GejalaTifoid.jpg" alt="" style="width: 100%; height: 300px;">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Demam Tifoid</h2>
          <p class="card-text text-justify">
            Tifus (tipes) atau demam tifoid adalah penyakit yang terjadi karena infeksi bakteri Salmonella typhi
            dan umumnya menyebar melalui makanan dan minuman yang telah terkontaminasi. Penyakit yang banyak terjadi
            di negara-negara berkembang dan dialami oleh anak-anak ini dapat membahayakan nyawa
            jika tidak ditangani dengan baik dan secepatnya.</p>
          <p class="card-text text-justify">Tifus dapat menular dengan cepat. Infeksi demam tifoid terjadi ketika seseorang mengonsumsi
            makanan atau minuman yang telah terkontaminasi sejumlah kecil tinja yang mengandung bakteri.
            Pada kasus yang jarang terjadi, penularan terjadi akibat terkena urine yang terinfeksi bakteri.</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Irmansyah</a>
    </div>
  </div>

</div>
<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>

