<app-navbar></app-navbar>
<!--<p>-->
<!--  <b>Tentang Lintasarta</b>-->
<!--  PT Aplikanusa Lintasarta adalah perusahaan yang bergerak di bidang Information and Communication Technology (ICT)-->
<!--  yang memiliki sejarah panjang di bidang pemenuhan kebutuhan komunikasi data konsumen dalam bisnis skala kecil,-->
<!--  menengah maupun besar.-->
<!--  Didirikan tahun 1988, Lintasarta bermula dari menyediakan sistem pelaporan bank dan layanan komunikasi data bagi sektor-->
<!--  perbankan, yang akhirnya berujung pada pengembangan ATM Bersama. ATM Bersama ini memungkinkan konsumen berbagai bank-->
<!--  yang berbeda melakukan transaksi antar bank melalui ATM. Di saat yang sama, keahlian perusahaan dan cakupan operasional-->
<!--  berkembang secara eksponensial, menjadikan Lintasarta sebagai salah satu penyedia layanan ICT terkemuka di Indonesia.-->
<!--  Kini Lintasarta melayani lebih dari 1.600 mitra perusahaan, menghubungkan lebih dari 18.000 jaringan, memanfaatkan-->
<!--  infrastruktur canggih berbasis Platform Next Generation Network (NGN), dengan local support di lebih dari 44 kota yang-->
<!--  tersebar di berbagai propinsi di Indonesia.-->

<!--</p>-->
<div class="mb60 mb50-sm"></div>
<app-about-owlexa
 [judul]="judul"
 [smalltext]="smalltext"
 [description]="description"
></app-about-owlexa>
<app-footerpage></app-footerpage>
