<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2 class="title custom">{{judul}}</h2>
    <p class="lead smaller">{{smalltext}}</p>
    <p style="text-align: justify">{{description}}</p>

    <div class="mb10"></div><!-- margin -->

    <div id="portfolio-item-container" class="quick-gallery-showcase mb0 popup-gallery" data-layoutmode="fitRows">
      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item1.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item1.jpg" data-thumb="assets/images/portfolio/index-medical/item1.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item2.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="http://www.youtube.com/watch?v=jt8YicG-F6c" data-thumb="assets/images/portfolio/index-medical/item2.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item3.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item3.jpg" data-thumb="assets/images/portfolio/index-medical/item3.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item4.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item4.jpg" data-thumb="assets/images/portfolio/index-medical/item4.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item5.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item5.jpg" data-thumb="assets/images/portfolio/index-medical/item5.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item6.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item6.jpg" data-thumb="assets/images/portfolio/index-medical/item6.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item7.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item7.jpg" data-thumb="assets/images/portfolio/index-medical/item7.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->

      <div class="portfolio-item">
        <figure>
          <img src="assets/images/portfolio-index-medical/item8.jpg" alt="Portfolio Name">
          <figcaption>
            <a href="assets/images/portfolio-index-medical/item8.jpg" data-thumb="assets/images/portfolio/index-medical/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
            <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
          </figcaption>
        </figure>
      </div><!-- End .portfolio-item -->
    </div><!-- End .portfolio-item-container -->
  </div><!-- End .col-md-6 -->

  <div class="clearfix mb20 visible-xs visible-sm"></div><!-- margin -->

  <div class="col-md-6">
    <img src="./assets/images/doctors.png" alt="doctors" class="img-responsive">
  </div><!-- End .col-md-6 -->
</div><!-- End .row -->
</div><!-- End .container -->
