
<header class="page-header">
  <!-- Links -->
  <div class="logo-area">
    <div class="grid">
      <div class="vertical-align-container">
        <div class="position-left">
          <img class="normal-logo" src="../assets/image/logo_datar_resize.png" alt="logo">
        </div>
        <div style="float: left;vertical-align: middle;display: inline-block;" class="position-right">
          <div style="float: left;" class="logo-widget">
            <div class ="text-widget">

            </div>
          </div>
          <div class="logo-widget"></div>
          <div class="logo-widget"></div>
          <div class="logo-widget"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="menu-area">
    <div class="grid">
      <div class="vertical-align-container">
        <div class="position-left">
          <div class="inner-left">
            <nav>

            </nav>
          </div>
        </div>
        <div style="float: left;vertical-align: middle;display: inline-block;" class="position-right">
          <div style="float: left;" class="logo-widget">
            <div class ="text-widget">

            </div>
          </div>
          <div class="logo-widget"></div>
          <div class="logo-widget"></div>
          <div class="logo-widget"></div>
        </div>

      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>









<app-footerpage></app-footerpage>
