<header class="page-header">
  <div class="mkd-wrapper">

    <div class="mkd-wrapper-inner">
      <header class="mkd-page-header">

        <div class="mkd-logo-area">
          <div class="mkd-grid">
            <div class="mkd-vertical-align-containers">


<!------------------------------------Logo Header-------------------------------------------------------->

              <div class="mkd-position-left">
                <div class="mkd-position-left-inner">
                  <div class="mkd-logo-wrapper">
                    <a href="https://medigroup.mikado-themes.com/" style="height: 51px;">
                      <img height="102" width="366" class="mkd-normal-logo"
                           src="assets/image/logo_datar_resize.png" alt="logo">
                      <img height="102" width="366" class="mkd-dark-logo"
                           src="assets/image/logo_datar_resize.png" alt="dark logo">
                      <img height="102" width="366" class="mkd-light-logo"
                           src="assets/image/logo_datar_resize.png" alt="light logo">
                    </a>
                  </div>
                </div>
              </div>


              <div class="mkd-position-right">
                <div class="mkd-position-right-inner">
                  <div id="text-5" class="widget widget_text mkd-right-from-logo-widget">
                    <div class="textwidget">
                      <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">

<!--------------------------------      Header Menu Upper    -------------------------------------------------------------->
                        <div class="mkd-iwt-icon-holder">
                                                <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df"
                                                      data-color="#8bc0df">
                                                    <i class="mkd-icon-linear-icon lnr lnr-clock mkd-icon-element"
                                                       style="color: #8bc0df;font-size:34px;margin:10px 0 0 0"></i>
                                                </span>
                        </div>

                        <div class="mkd-iwt-content-holder" style="padding-left: 47px">
                          <div class="mkd-iwt-title-holder">
                            <h6 style="text-transform: none;font-weight: 600">Monday - Friday
                              08:00 - 20:00</h6>
                          </div>
                          <div class="mkd-iwt-text-holder">
                            <p style="color: #b7b7b7">Saturday and Sunday - CLOSED</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="text-6" class="widget widget_text mkd-right-from-logo-widget">
                    <div class="textwidget">
                      <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">


                        <div class="mkd-iwt-icon-holder">
                          <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df" data-color="#8bc0df">
                            <i class="mkd-icon-linear-icon lnr lnr-smartphone mkd-icon-element"
                               style="color: #8bc0df;font-size:34px;margin:12px 0 0 0"></i>
                                                </span>
                        </div>

                        <div class="mkd-iwt-content-holder" style="padding-left: 43px">
                          <div class="mkd-iwt-title-holder">
                            <h6 style="text-transform: none;font-weight: 600">+ 0800 2466
                              7921</h6>
                          </div>
                          <div class="mkd-iwt-text-holder">
                            <p style="color: #b7b7b7">office@medigroup.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div id="text-7" class="widget widget_text mkd-right-from-logo-widget">
                    <div class="textwidget">
                      <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-tiny">
                        <div class="mkd-iwt-icon-holder">
                                                <span class="mkd-icon-shortcode normal" data-hover-color="#8bc0df"
                                                      data-color="#8bc0df">
                                                    <i class="mkd-icon-linear-icon lnr lnr-map-marker mkd-icon-element"
                                                       style="color: #8bc0df;font-size:34px;margin:11px 0 0 0"></i>
                                                </span>
                        </div>
                        <div class="mkd-iwt-content-holder" style="padding-left: 43px">
                          <div class="mkd-iwt-title-holder">
                            <h6 style="text-transform: none;font-weight: 600">34th Avenue</h6>
                          </div>
                          <div class="mkd-iwt-text-holder">
                            <p style="color: #b7b7b7">New York, W2 3XE</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<!--------------  Header Menu ---------------------------- Header Menu Upper --------------------------------- Header Menu ------------------->

                  <div id="text-8" class="widget widget_text mkd-right-from-logo-widget">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--   Header Menu Navbar ---------------------------- Header Menu Navbar --------------------------------- Header Menu Navbar------------------->
        <div class="mkd-menu-area">
          <div class="mkd-grid">
            <div class="mkd-vertical-align-containers">
              <div class="mkd-position-left">
                <div class="mkd-position-left-inner">
                  <nav class="mkd-main-menu mkd-drop-down mkd-default-nav">
                    <ul id="menu-main-menu" class="clearfix">
                      <li id="nav-menu-item-308"
                          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Home</span></span><span
                          class="plus"></span></span></a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">About</span></span><span
                          class="plus"></span></span></a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Portopolio</span></span><span
                          class="plus"></span></span>
                        </a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Blog</span></span><span
                          class="plus"></span></span>
                        </a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Element</span></span><span
                          class="plus"></span></span>
                        </a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Element</span></span><span
                          class="plus"></span></span>
                        </a>
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text">Element</span></span><span
                          class="plus"></span></span>
                        </a>


<!------------------------------------------------ Menu Hidden Warning ----------------------------------------->
                        <a href="https://medigroup.mikado-themes.com/" class=" current "><span
                          class="item_outer"><span class="item_inner"><span class="item_text"></span></span><span
                          class="plus"></span></span>
                        </a>
 <!------------------------------------------- Menu Hidden Warning ----------------------------------------->
                      </li>
                    </ul>

                  </nav>

                </div>
              </div>
            </div>
          </div>
        </div>

      </header>
      <router-outlet></router-outlet>
    </div>
  </div>

</header>
<!--   Header Menu Navbar ---------------------------- Header Menu Navbar --------------------------------- Header Menu Navbar------------------->


<app-homebody></app-homebody>


<app-footerpage></app-footerpage>
