<div class="container">
  <h2 class="title custom">Latest News</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <div class="images_view">
          <img src="assets/images/promo1.jpg" alt="Notebook" style="width:100%;">
          <div class="content">
            <h1 style="color: #2baaff">Owlexa Corporate Health Plan</h1>
            <p>Owlexa Corporate Health Plan berkomitmen menjadi yang terdepan untuk membantu perusahaan
              menghadapi situasi bisnis dengan memberikan solusi asuransi
              jiwa menyeluruh untuk mendukung pencapaian bisnis. Untuk itu
              Owlexa Corporate Health Plan menghadirkan Owlexa Health Care Solutions yang
              memberikan solusi asuransi bagi perusahaan dalam mengelola
              kesejahteraan karyawan.</p>
            <a href="#" class="btn btn-primary btn-news" id="btn-news">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="3000">
        <div class="images_view">
          <img src="assets/images/promo3.jpg" alt="Notebook" style="width:100%;">
          <div class="content">
            <h1 style="color: #2baaff">Third Party Administration</h1>
            <p>Owlexa Corporate Health Plan berkomitmen menjadi yang terdepan untuk membantu perusahaan
              menghadapi situasi bisnis dengan memberikan solusi asuransi
              jiwa menyeluruh untuk mendukung pencapaian bisnis. Untuk itu
              Owlexa Corporate Health Plan menghadirkan Owlexa Health Care Solutions yang
              memberikan solusi asuransi bagi perusahaan dalam mengelola
              kesejahteraan karyawan.</p>
            <a href="#" class="btn btn-primary btn-news" id="btn-news">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="3000">
        <div class="images_view">
          <img src="assets/images/promo4.jpg" alt="Notebook" style="width:100%;">
          <div class="content">
            <h1 style="color: #2baaff">Optimaliasi Bpjs</h1>
            <p>Owlexa Corporate Health Plan berkomitmen menjadi yang terdepan untuk membantu perusahaan
              menghadapi situasi bisnis dengan memberikan solusi asuransi
              jiwa menyeluruh untuk mendukung pencapaian bisnis. Untuk itu
              Owlexa Corporate Health Plan menghadirkan Owlexa Health Care Solutions yang
              memberikan solusi asuransi bagi perusahaan dalam mengelola
              kesejahteraan karyawan.</p>
            <a href="#" class="btn btn-primary btn-news">Read More &rarr;</a>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div id="carouselExampleIndicators_1" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators_1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators_1" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators_1" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post1.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post3.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators_1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators_1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
            magni quis!</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2017 by
          <a href="#">Owlexa</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div id="carouselExampleIndicators_2" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators_2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators_2" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators_2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post4.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post5.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post6.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators_2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators_2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
            magni quis!</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2017 by
          <a href="#">Owlexa</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div id="carouselExampleIndicators_3" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators_3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators_3" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators_3" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post2.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post3.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="d-block w-100" src="./assets/images/blog-index-medical/post4.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators_3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators_3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
            magni quis!</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2017 by
          <a href="#">Owlexa</a>
        </div>
      </div>
    </div>
  </div>
</div>

