<app-navbar></app-navbar>

<div class="mb20 mb50-sm"></div>
<div class="container">
  <h2 class="title custom">Konsultasi Dokter Ajukan Pertanyakan Anda Disini</h2>
</div>

<div class="container">
  <form>
    <div class="mb25 mb50-sm"></div>
    <div class="form-group row">
      <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputNama" placeholder="Nama">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPerusahaan" class="col-sm-2 col-form-label">Nama Perusahaan </label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputPerusahaan" placeholder="Nama Perusahaan">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPosisi" class="col-sm-2 col-form-label">Posisi</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputPosisi" placeholder="Posisi">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputTelephone" class="col-sm-2 col-form-label">Nomer Telephon</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" id="inputTelephone" placeholder="Nomer Telephone">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPertanyaan" class="col-sm-2 col-form-label">Pertanyaan</label>
      <div class="col-sm-5">
        <textarea class="form-control" id="inputPertanyaan" placeholder="Pertanyaan"></textarea>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-outline-primary">Kirim</button>
      </div>
    </div>
  </form>

  <!-- Single Comment -->
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
      <h5 class="mt-0">Commenter Name</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>

  <!-- Comment with nested comments -->
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
      <h5 class="mt-0">Commenter Name</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

      <div class="media mt-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>

      <div class="media mt-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>

    </div>
  </div>


</div>


<div class="mb60 mb50-sm"></div>

<app-footerpage></app-footerpage>
